*.o
*.pico
config.h
htslib.pc.tmp
htslib_static.mk
.*-cflags
lib*.a
lib*.so*
HTSLIB/version.h
LIBDEFLATE/gzip
LIBDEFLATE/gunzip
FastK
Fastcp
Fastmv
Fastrm
Haplex
Histex
Homex
Logex
Profex
Symmex
Tabex
Vennex
